<div class="page-header">
    <div class="page-title">
        <h4>Create New Coupon</h4>
        <h6>Neww Coupon</h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text">
                </div>
            </div>


            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Discount</label>
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Limit</label>
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Code</label>

                    <div class="row d-flex">
                        <div class="d-flex">
                            <div class="d-flex">
                                <input type="radio" id="html" name="fav_language" value="HTML">
                                  <label for="html">HTML</label>
                            </div>

                            <div class="d-flex mx-3" >
                                  <input type="radio" id="css" name="fav_language" value="CSS">
                                  <label for="css">CSS</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <a href="javascript:void(0);" class="btn btn-submit me-2">Submit</a>
                <a  class="btn btn-cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>
