
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <h5>Testimonials</h5>
                </div>
            </div>
        </div>

        <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/testimonials" accept-charset="UTF-8"
            enctype="multipart/form-data"><input name="_token" type="hidden"
                value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
            <input type="hidden" name="_token" value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg" autocomplete="off">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Heading" class="form-label">Heading</label>
                            <input class="form-control " placeholder="Enter Heading" name="testimonials_heading"
                                type="text" value="From our Clients">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Description" class="form-label">Description</label>
                            <input class="form-control" placeholder="Enter Description" name="testimonials_description"
                                type="text"
                                value="Use these awesome forms to login or create new account in your project for free.">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Long Description" class="form-label">Long Description</label>
                            <textarea class="form-control" placeholder="Enter Long Description"
                                name="testimonials_long_description" cols="50"
                                rows="10">WorkDo seCommerce package offers you a “sales-ready.”secure online store. The package puts all the key pieces together, from design to payment processing. This gives you a headstart in your eCommerce venture. Every store is built using a reliable PHP framework -laravel. Thisspeeds up the development process while increasing the store’s security and performance.Additionally, thanks to the accompanying mobile app, you and your team can manage the store on the go. What’s more, because the app works both for you and your customers, you can use it to reach a wider audience.And, unlike popular eCommerce platforms, it doesn’t bind you to any terms and conditions or recurring fees. You get to choose where you host it or which payment gateway you use. Lastly, you getcomplete control over the looks of the store. And if it lacks any functionalities that you need, just reach out, and let’s discuss customization possibilities</textarea>
                        </div>
                    </div>



                </div>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-print-invoice btn-primary m-r-10" type="submit">Save Changes</button>
            </div>
        </form>

    </div>


    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h5>Testimonials List</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 justify-content-end d-flex">
                    <a data-size="lg" data-url="https://demo.rajodiya.com/leadgo-saas/testimonials/create"
                        data-ajax-popup="true" data-title="Create Testimonial" data-bs-toggle="tooltip" title=""
                        class="btn btn-sm btn-primary" data-bs-original-title="Discover Feature Create">
                        <i class="ti ti-plus text-light"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">


            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tbistone</td>
                            <td>
                                <span>
                                    <div class="action-btn bg-info ms-2">
                                        <a href="#" class="mx-3 btn btn-sm align-items-center"
                                            data-url="https://demo.rajodiya.com/leadgo-saas/testimonials/edit/0"
                                            data-ajax-popup="true" data-title="Edit Testimonial" data-size="lg"
                                            data-bs-toggle="tooltip" title="" data-original-title="Edit"
                                            data-bs-original-title="Edit">
                                            <i class="ti ti-pencil text-white"></i>
                                        </a>
                                    </div>
                                    <div class="action-btn bg-danger ms-2">
                                        <form method="GET"
                                            action="https://demo.rajodiya.com/leadgo-saas/testimonials/delete/0"
                                            accept-charset="UTF-8" id="delete-form-0">
                                            <a href="#!"
                                                class="mx-3 btn btn-sm align-items-center text-white show_confirm"
                                                data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                <i class="ti ti-trash"></i>
                                            </a>
                                        </form>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Tbistone</td>
                            <td>
                                <span>
                                    <div class="action-btn bg-info ms-2">
                                        <a href="#" class="mx-3 btn btn-sm align-items-center"
                                            data-url="https://demo.rajodiya.com/leadgo-saas/testimonials/edit/1"
                                            data-ajax-popup="true" data-title="Edit Testimonial" data-size="lg"
                                            data-bs-toggle="tooltip" title="" data-original-title="Edit"
                                            data-bs-original-title="Edit">
                                            <i class="ti ti-pencil text-white"></i>
                                        </a>
                                    </div>
                                    <div class="action-btn bg-danger ms-2">
                                        <form method="GET"
                                            action="https://demo.rajodiya.com/leadgo-saas/testimonials/delete/1"
                                            accept-charset="UTF-8" id="delete-form-1">
                                            <a href="#!"
                                                class="mx-3 btn btn-sm align-items-center text-white show_confirm"
                                                data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                <i class="ti ti-trash"></i>
                                            </a>
                                        </form>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Tbistone</td>
                            <td>
                                <span>
                                    <div class="action-btn bg-info ms-2">
                                        <a href="#" class="mx-3 btn btn-sm align-items-center"
                                            data-url="https://demo.rajodiya.com/leadgo-saas/testimonials/edit/2"
                                            data-ajax-popup="true" data-title="Edit Testimonial" data-size="lg"
                                            data-bs-toggle="tooltip" title="" data-original-title="Edit"
                                            data-bs-original-title="Edit">
                                            <i class="ti ti-pencil text-white"></i>
                                        </a>
                                    </div>
                                    <div class="action-btn bg-danger ms-2">
                                        <form method="GET"
                                            action="https://demo.rajodiya.com/leadgo-saas/testimonials/delete/2"
                                            accept-charset="UTF-8" id="delete-form-2">
                                            <a href="#!"
                                                class="mx-3 btn btn-sm align-items-center text-white show_confirm"
                                                data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                <i class="ti ti-trash"></i>
                                            </a>
                                        </form>
                                    </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>