
    <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/join_us" accept-charset="UTF-8"><input
            name="_token" type="hidden" value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="mb-2">Join User</h5>
                    </div>
                    <div class="col switch-width text-end">
                        <div class="form-group mb-0">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label mx-5" for="flexSwitchCheckDefault">OFF/ON</label>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Heading" class="form-label">Heading</label>
                            <input class="form-control" placeholder="Enter Heading" name="joinus_heading" type="text"
                                value="Join Our Community">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Description" class="form-label">Description</label>
                            <input class="form-control" placeholder="Enter Description" name="joinus_description"
                                type="text"
                                value="We build modern web tools to help you jump-start your daily business work.">
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer text-end">
                <input class="btn btn-print-invoice btn-primary m-r-10" type="submit" value="Save Changes">
            </div>
        </div>
    </form>



    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h5>Join Us User</h5>
                </div>

            </div>
        </div>
        <div class="card-body">



            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>company@example.com</td>
                            <td>
                                <span>
                                    <div class="action-btn bg-danger ms-2">

                                        <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/join_us/1"
                                            accept-charset="UTF-8" id="delete-form-1"><input name="_method"
                                                type="hidden" value="DELETE"><input name="_token" type="hidden"
                                                value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
                                            <a href="#!"
                                                class="mx-3 btn btn-sm align-items-center text-white show_confirm"
                                                data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                <i class="ti ti-trash"></i>
                                            </a>
                                        </form>
                                    </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>