
<div class="page-header">
    <div class="page-title">
        <h4>Plan List</h4>
        <h6>Manage Your Plan</h6>
    </div>
    <div class="page-btn">
        <a class="btn btn-added" (click)="add()"><img src="assets/img/icons/plus.svg" alt="img"
                class="me-1" /></a>
    </div>
</div>
<!-- /product list -->
<div class="card">
    <div class="row">
        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
            <div class="card price-card plan-card price-1 wow animate__fadeInUp" data-wow-delay="0.2s" style="
        visibility: visible;
        animation-delay: 0.2s;
        animation-name: fadeInUp;
        ">
                <div class="card-body body1">
                    <span class="price-badge bg-primary">Free Plan</span>
                    <div class="d-flex flex-row-reverse m-0 p-0 ">
                        <div class="action-btn bg-primary ms-2">
                            <a href="#" class="mx-3 btn btn-sm d-inline-flex align-items-center"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="" data-ajax-popup="true"
                                data-size="lg" data-title="Edit Plan"
                                data-url="https://demo.rajodiya.com/leadgo-saas/plans/1/edit"
                                data-bs-original-title="Edit Plan" aria-label="Edit Plan"><i
                                    class="ti ti-pencil text-white"></i></a>
                        </div>
                    </div>
                    <h1 class="mb-4 f-w-600  cnt">
                        $0<small class="text-sm">/Month</small></h1>
                    <p class="mb-0 cnt">
                        Trial : 0 Days<br>
                    </p>
                    <ul class="list-unstyled my-4">
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Users
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Clients
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            20 Deals
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <div>
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                <i class="text-primary ti ti-circle-plus"></i>
                            </span>
                            1024 MB Storage Limit
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            Enable Chat GPT
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
            <div class="card price-card plan-card price-1 wow animate__fadeInUp" data-wow-delay="0.2s" style="
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  ">
                <div class="card-body body1">
                    <span class="price-badge bg-primary">Silver</span>
                    <div class="d-flex flex-row-reverse m-0 p-0 ">
                        <div class="action-btn bg-primary ms-2">
                            <a href="#" class="mx-3 btn btn-sm d-inline-flex align-items-center"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="" data-ajax-popup="true"
                                data-size="lg" data-title="Edit Plan"
                                data-url="https://demo.rajodiya.com/leadgo-saas/plans/1/edit"
                                data-bs-original-title="Edit Plan" aria-label="Edit Plan"><i
                                    class="ti ti-pencil text-white"></i></a>
                        </div>
                    </div>
                    <h1 class="mb-4 f-w-600  cnt">
                        $1,500<small class="text-sm">/Month</small></h1>
                    <p class="mb-0 cnt">
                        Trial : 0 Days<br>
                    </p>
                    <ul class="list-unstyled my-4">
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Users
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Clients
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            20 Deals
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <div>
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                <i class="text-primary ti ti-circle-plus"></i>
                            </span>
                            1024 MB Storage Limit
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            Enable Chat GPT
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
            <div class="card price-card plan-card price-1 wow animate__fadeInUp" data-wow-delay="0.2s" style="
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  ">
                <div class="card-body body1">
                    <span class="price-badge bg-primary">Gold</span>
                    <div class="d-flex flex-row-reverse m-0 p-0 ">
                        <div class="action-btn bg-primary ms-2">
                            <a href="#" class="mx-3 btn btn-sm d-inline-flex align-items-center"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="" data-ajax-popup="true"
                                data-size="lg" data-title="Edit Plan"
                                data-url="https://demo.rajodiya.com/leadgo-saas/plans/1/edit"
                                data-bs-original-title="Edit Plan" aria-label="Edit Plan"><i
                                    class="ti ti-pencil text-white"></i></a>
                        </div>
                    </div>
                    <h1 class="mb-4 f-w-600  cnt">
                        $2,000<small class="text-sm">/Month</small></h1>
                    <p class="mb-0 cnt">
                        Trial : 0 Days<br>
                    </p>
                    <ul class="list-unstyled my-4">
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Users
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Clients
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            20 Deals
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <div>
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                <i class="text-primary ti ti-circle-plus"></i>
                            </span>
                            1024 MB Storage Limit
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            Enable Chat GPT
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
            <div class="card price-card plan-card price-1 wow animate__fadeInUp" data-wow-delay="0.2s" style="
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  ">
                <div class="card-body body1">
                    <span class="price-badge bg-primary">Platinum</span>
                    <div class="d-flex flex-row-reverse m-0 p-0 ">
                        <div class="action-btn bg-primary ms-2">
                            <a href="#" class="mx-3 btn btn-sm d-inline-flex align-items-center"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="" data-ajax-popup="true"
                                data-size="lg" data-title="Edit Plan"
                                data-url="https://demo.rajodiya.com/leadgo-saas/plans/1/edit"
                                data-bs-original-title="Edit Plan" aria-label="Edit Plan"><i
                                    class="ti ti-pencil text-white"></i></a>
                        </div>
                    </div>
                    <h1 class="mb-4 f-w-600  cnt">
                        $3,000<small class="text-sm">/Month</small></h1>
                    <p class="mb-0 cnt">
                        Trial : 0 Days<br>
                    </p>
                    <ul class="list-unstyled my-4">
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Users
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            10 Clients
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            20 Deals
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <div>
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                <i class="text-primary ti ti-circle-plus"></i>
                            </span>
                            1024 MB Storage Limit
                        </li>
                        <li>
                            <span class="theme-avtar">
                                <mat-icon>check_circle</mat-icon>
                                <i class="text-primary ti ti-circle-plus"></i></span>
                            Enable Chat GPT
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>