<div class="card">
        <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/faq" accept-charset="UTF-8" enctype="multipart/form-data"><input name="_token" type="hidden" value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
        <input type="hidden" name="_token" value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg" autocomplete="off">                        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <h5 class="mb-2">FAQ</h5>
                </div>
                <div class="col switch-width text-end">
                    <div class="form-group mb-0">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label mx-5" for="flexSwitchCheckDefault">OFF/ON</label>
                          </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Title" class="form-label">Title</label>
                        <input class="form-control " placeholder="Enter Title" name="faq_title" type="text" value="Faq">
                                                            </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Heading" class="form-label">Heading</label>
                        <input class="form-control " placeholder="Enter Heading" name="faq_heading" type="text" value="LeadGo SaaS Lead Management Tool">
                                                            </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Description" class="form-label">Description</label>
                        <input class="form-control" placeholder="Enter Description" name="faq_description" type="text" value="Use these awesome forms to login or create new account in your project for free.">
                                                            </div>
                </div>



            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-print-invoice btn-primary m-r-10" type="submit">Save Changes</button>
        </div>
        </form>

    </div>


    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h5>FAQ List</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 justify-content-end d-flex">
                    <a data-size="lg" data-url="https://demo.rajodiya.com/leadgo-saas/faq/create" data-ajax-popup="true" data-title="Create FAQ" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Create FAQ">
                        <i class="ti ti-plus text-light"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">


            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                                                                                                                                                                <tr>
                                    <td>1</td>
                                    <td>#What does "Theme/Package Installation" mean?</td>
                                    <td>
                                        <span>
                                            <div class="action-btn bg-info ms-2">
                                                <a href="#" class="mx-3 btn btn-sm align-items-center" data-url="https://demo.rajodiya.com/leadgo-saas/faq/edit/0" data-ajax-popup="true" data-title="Edit FAQ" data-size="lg" data-bs-toggle="tooltip" title="" data-original-title="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil text-white"></i>
                                                </a>
                                            </div>
                                            <div class="action-btn bg-danger ms-2">
                                                <form method="GET" action="https://demo.rajodiya.com/leadgo-saas/faq/delete/0" accept-charset="UTF-8" id="delete-form-0">
                                                <a href="#!" class="mx-3 btn btn-sm align-items-center text-white show_confirm" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                                </form>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                                                            <tr>
                                    <td>2</td>
                                    <td>#What does "Theme/Package Installation" mean?</td>
                                    <td>
                                        <span>
                                            <div class="action-btn bg-info ms-2">
                                                <a href="#" class="mx-3 btn btn-sm align-items-center" data-url="https://demo.rajodiya.com/leadgo-saas/faq/edit/1" data-ajax-popup="true" data-title="Edit FAQ" data-size="lg" data-bs-toggle="tooltip" title="" data-original-title="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil text-white"></i>
                                                </a>
                                            </div>
                                            <div class="action-btn bg-danger ms-2">
                                                <form method="GET" action="https://demo.rajodiya.com/leadgo-saas/faq/delete/1" accept-charset="UTF-8" id="delete-form-1">
                                                <a href="#!" class="mx-3 btn btn-sm align-items-center text-white show_confirm" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                                </form>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                                                            <tr>
                                    <td>3</td>
                                    <td>#What does "Lifetime updates" mean?</td>
                                    <td>
                                        <span>
                                            <div class="action-btn bg-info ms-2">
                                                <a href="#" class="mx-3 btn btn-sm align-items-center" data-url="https://demo.rajodiya.com/leadgo-saas/faq/edit/2" data-ajax-popup="true" data-title="Edit FAQ" data-size="lg" data-bs-toggle="tooltip" title="" data-original-title="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil text-white"></i>
                                                </a>
                                            </div>
                                            <div class="action-btn bg-danger ms-2">
                                                <form method="GET" action="https://demo.rajodiya.com/leadgo-saas/faq/delete/2" accept-charset="UTF-8" id="delete-form-2">
                                                <a href="#!" class="mx-3 btn btn-sm align-items-center text-white show_confirm" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                                </form>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                                                            <tr>
                                    <td>4</td>
                                    <td>#What does "Lifetime updates" mean?</td>
                                    <td>
                                        <span>
                                            <div class="action-btn bg-info ms-2">
                                                <a href="#" class="mx-3 btn btn-sm align-items-center" data-url="https://demo.rajodiya.com/leadgo-saas/faq/edit/3" data-ajax-popup="true" data-title="Edit FAQ" data-size="lg" data-bs-toggle="tooltip" title="" data-original-title="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil text-white"></i>
                                                </a>
                                            </div>
                                            <div class="action-btn bg-danger ms-2">
                                                <form method="GET" action="https://demo.rajodiya.com/leadgo-saas/faq/delete/3" accept-charset="UTF-8" id="delete-form-3">
                                                <a href="#!" class="mx-3 btn btn-sm align-items-center text-white show_confirm" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                                </form>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                                                            <tr>
                                    <td>5</td>
                                    <td># What does "6 months of support" mean?</td>
                                    <td>
                                        <span>
                                            <div class="action-btn bg-info ms-2">
                                                <a href="#" class="mx-3 btn btn-sm align-items-center" data-url="https://demo.rajodiya.com/leadgo-saas/faq/edit/4" data-ajax-popup="true" data-title="Edit FAQ" data-size="lg" data-bs-toggle="tooltip" title="" data-original-title="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil text-white"></i>
                                                </a>
                                            </div>
                                            <div class="action-btn bg-danger ms-2">
                                                <form method="GET" action="https://demo.rajodiya.com/leadgo-saas/faq/delete/4" accept-charset="UTF-8" id="delete-form-4">
                                                <a href="#!" class="mx-3 btn btn-sm align-items-center text-white show_confirm" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                                </form>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                                                            <tr>
                                    <td>6</td>
                                    <td># What does "6 months of support" mean?</td>
                                    <td>
                                        <span>
                                            <div class="action-btn bg-info ms-2">
                                                <a href="#" class="mx-3 btn btn-sm align-items-center" data-url="https://demo.rajodiya.com/leadgo-saas/faq/edit/5" data-ajax-popup="true" data-title="Edit FAQ" data-size="lg" data-bs-toggle="tooltip" title="" data-original-title="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil text-white"></i>
                                                </a>
                                            </div>
                                            <div class="action-btn bg-danger ms-2">
                                                <form method="GET" action="https://demo.rajodiya.com/leadgo-saas/faq/delete/5" accept-charset="UTF-8" id="delete-form-5">
                                                <a href="#!" class="mx-3 btn btn-sm align-items-center text-white show_confirm" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                                </form>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                                                                                        </tbody>
                </table>
            </div>
        </div>
    </div>