<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <h5>Custom Page</h5>
            </div>
        </div>
    </div>
    <hr>
    <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/custom_store" accept-charset="UTF-8"
        enctype="multipart/form-data"><input name="_token" type="hidden"
            value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
        <div class="card-body">
            <div class="row">



                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Site Logo" class="form-label">Site Logo</label>
                        <div class="logo-content mt-4">
                            <img id="image" src="http://localhost:4200/assets/img/logo.png" class="big-logo"
                                style="filter: drop-shadow(2px 3px 7px #011C4B);" width="150px">
                        </div>
                        <div class="choose-files mt-5">
                            <label for="site_logo">
                                <div class=" bg-primary company_logo_update" style="cursor: pointer;">
                                    <i class="ti ti-upload px-1"></i>Choose file here
                                </div>
                                <input type="file" name="site_logo" id="site_logo" class="form-control file"
                                    data-filename="site_logo" width="150px">
                            </label>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Site Description" class="form-label">Site Description</label>
                        <input class="form-control" placeholder="Enter Description" name="site_description" type="text"
                            value="We build modern web tools to help you jump-start your daily business work.">
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer text-end">
            <input class="btn btn-print-invoice btn-primary m-r-10" type="submit" value="Save Changes">
        </div>
    </form>
</div>
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h5>Custom Page List</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 justify-content-end d-flex">
                <a data-size="lg" data-url="https://demo.rajodiya.com/leadgo-saas/custom_page/create"
                    data-ajax-popup="true" data-bs-toggle="tooltip" data-title="Create Page" title=""
                    class="btn btn-sm btn-primary" data-bs-original-title="Create Page">
                    <i class="ti ti-plus text-light"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">



        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>About Us</td>
                        <td>
                            <span>
                                <div class="action-btn bg-info ms-2">
                                    <a href="#" class="mx-3 btn btn-sm align-items-center"
                                        data-url="https://demo.rajodiya.com/leadgo-saas/custom_page/0/edit"
                                        data-ajax-popup="true" data-title="Edit Page" data-size="lg"
                                        data-bs-toggle="tooltip" title="" data-original-title="Edit"
                                        data-bs-original-title="Edit">
                                        <i class="ti ti-pencil text-white"></i>
                                    </a>
                                </div>
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Terms and Conditions</td>
                        <td>
                            <span>
                                <div class="action-btn bg-info ms-2">
                                    <a href="#" class="mx-3 btn btn-sm align-items-center"
                                        data-url="https://demo.rajodiya.com/leadgo-saas/custom_page/1/edit"
                                        data-ajax-popup="true" data-title="Edit Page" data-size="lg"
                                        data-bs-toggle="tooltip" title="" data-original-title="Edit"
                                        data-bs-original-title="Edit">
                                        <i class="ti ti-pencil text-white"></i>
                                    </a>
                                </div>
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Privacy Policy</td>
                        <td>
                            <span>
                                <div class="action-btn bg-info ms-2">
                                    <a href="#" class="mx-3 btn btn-sm align-items-center"
                                        data-url="https://demo.rajodiya.com/leadgo-saas/custom_page/2/edit"
                                        data-ajax-popup="true" data-title="Edit Page" data-size="lg"
                                        data-bs-toggle="tooltip" title="" data-original-title="Edit"
                                        data-bs-original-title="Edit">
                                        <i class="ti ti-pencil text-white"></i>
                                    </a>
                                </div>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>