<div class="dash-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="d-block d-sm-flex align-items-center justify-content-between">
                        <div>
                            <div class="page-header-title">
                                <h4 class="m-b-10">Orders
                                </h4>
                            </div>

                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        href="https://demo.rajodiya.com/leadgo-saas/home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Orders </li>
                            </ul>
                        </div>
                        <div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-body table-border-style">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-top">
                                <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select> entries per page</label></div>
                                <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..."
                                        type="text"></div>
                            </div>
                            <div class="dataTable-container">
                                <table class="table pc-dt-simple dataTable-table">
                                    <thead>
                                        <tr>
                                            <th data-sortable="" style="width: 12.9556%;"><a href="#"
                                                    class="dataTable-sorter">ORDER ID</a></th>
                                            <th data-sortable="" style="width: 11.5773%;"><a href="#"
                                                    class="dataTable-sorter">NAME </a></th>
                                            <th data-sortable="" style="width: 10.291%;"><a href="#"
                                                    class="dataTable-sorter">PLAN NAME</a></th>
                                            <th data-sortable="" style="width: 11.6692%;"><a href="#"
                                                    class="dataTable-sorter">PRICE</a></th>
                                            <th data-sortable="" style="width: 11.1179%;"><a href="#"
                                                    class="dataTable-sorter">STATUS</a></th>
                                            <th data-sortable="" style="width: 10.7504%;"><a href="#"
                                                    class="dataTable-sorter">PAYMENT TYPE</a></th>
                                            <th data-sortable="" style="width: 17.8254%;"><a href="#"
                                                    class="dataTable-sorter">DATE</a></th>
                                                <th data-sortable="" style="width: 10.7504%;"><a href="#"
                                                    class="dataTable-sorter">COUPON</a></th>
                                                    <th data-sortable="" style="width: 10.7504%;"><a href="#"
                                                        class="dataTable-sorter">INVOICE</a></th>
                                            <th width="150px" data-sortable="" style="width: 13.7825%;"><a href="#"
                                                    class="dataTable-sorter">Action</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="col" colspan="8">
                                                <h6 class="text-center">No Manually Orders Found.</h6>
                                            </th>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">Showing 1 to 1 of 1 entries</div>
                                <nav class="dataTable-pagination">
                                    <ul class="dataTable-pagination-list"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>