<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <h5>Plan Section</h5>
            </div>
        </div>
    </div>

    <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/pricing_plan" accept-charset="UTF-8"
        enctype="multipart/form-data"><input name="_token" type="hidden"
            value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Title" class="form-label">Title</label>
                        <input class="form-control " placeholder="Enter Title" name="plan_title" type="text"
                            value="Plan">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Heading" class="form-label">Heading</label>
                        <input class="form-control " placeholder="Enter Heading" name="plan_heading" type="text"
                            value="LeadGo SaaS Lead Management Tool">
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Description" class="form-label">Description</label>
                        <input class="form-control" placeholder="Enter Description" name="plan_description" type="text"
                            value="Use these awesome forms to login or create new account in your project for free.">
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-end">
            <input class="btn btn-print-invoice btn-primary m-r-10" type="submit" value="Save Changes">
        </div>
    </form>
</div>